html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-flow: row, nowrap;
  justify-content: center;
  align-content: center;
  background-color: #78b4e6;
  width: 100%;
  height: 75px;
}
header .menu-button {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}
header .menu-button:hover {
  background-color: grey;
  opacity: 50%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-size: 2rem;
  transform: translateX(-350px);
  opacity: 0;
}
header nav ul {
  display: flex;
  width: 60%;
  justify-content: space-around;
  color: white;
  padding-left: 100px;
}
header nav ul a {
  color: inherit;
  text-decoration: none;
}
header nav ul a:hover {
  color: grey;
}
header div.logo {
  width: 25%;
  margin-right: 42px;
}
header div.logo img {
  width: 20%;
  margin-right: 20px;
  position: absolute;
  min-width: 107px;
  padding-left: 20px;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-350px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-350px);
    opacity: 0;
  }
}
.slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-fill-mode: both;
}
.slide-out-left {
  animation-name: slide-out-left;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-fill-mode: both;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #90caf9;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer p {
  border: 1px solid black;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.3;
}
@media (max-width: 800px) {
  .about-content {
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.about-content .card {
  margin: 20px 0;
  padding: 20px;
  max-width: 45%;
  background: white;
  border-radius: 1rem;
  border: 1px solid #2f9cf4;
}
@media (max-width: 800px) {
  .about-content .card {
    max-width: 40%;
  }
}
@media (max-width: 500px) {
  .about-content .card {
    max-width: 75%;
  }
}
.about-content .card img {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 100%;
  height: auto;
  max-width: 75%;
  margin: 2rem 2rem 3rem 4rem;
}
.about-content .card h2 {
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  padding: 0.5rem;
  background: #FBD771;
}
.about-content .card p {
  background-color: #f48fb1;
  border: 3px dotted rgba(240, 98, 146);
  padding: 1rem;
  color: #FFFFFF;

}
* {
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 880px;
  position: relative;
  margin: auto;
}
.imgcontainer {
  max-width: 20rem;
  border: 1px solid black;
}
/* Hide the images by default */
.mySlides {
  display: flex;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }

}
.content-hidden {
  display: none;


