.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
    @media @tablet {
        justify-content: space-evenly;
    }
    @media @mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

    }

    .card {
        margin: 20px 0;
        padding: 20px;
        max-width: 45%;
        background: white;
        border-radius: 1rem;
        border: 1px solid @darker-highlight;
        @media @tablet {
            max-width: 40%;
        }
        @media @mobile {
            max-width: 75%;
           
        }
        
        

        img {
            padding: 1rem;
            border: 1px solid black;
            border-radius: 100%;
            height: auto;
            max-width: 75%;
            margin: 2rem 2rem 3rem 4rem;
        }

        h2 {
            cursor: pointer;
            border: 1px solid black;
            text-align: center;
            padding: .5rem;
            background: @dandelion;
        }

        p {
            background-color: @card-content;
            border: 3px dotted @dark-pink;
            padding: 1rem;
            color: @font-color;
            
        }


    }



}

.content-hidden {
    display: none;
}