
.marketing-content{
  border: 1px solid black;
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  @media @mobile {
    flex-direction: column-reverse;
    align-items: center;
  }

  .left-content{
    border: 1px solid red;
    margin: 2rem;
    width: 75%;
    @media @mobile {
      width: 90%;
    }
      p{
      font-style: inherit;
      border: 1rem double white;
      width: 100%;
    // margin-left: 400px;
    // margin-right: 400px;
      margin: 1rem;
      padding: 1rem;
      @media @mobile{
        border: .5rem solid white;
      }
     } 
  }
  .right-content{
    border: 1px solid red;
    margin: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    @media @mobile {
      width: 70%;
      margin: .5rem;
    }
    p{
      width: 100%;
      margin: 1rem;
      padding: 1rem;
      border: 1rem double @white;
      @media @mobile {
        text-align: center;
        border: none;

      }
    }
    .button {
      .accord-btn(@white, @pink)

    }
   

  }

}

















/* Caption text */
.text {
  color: #f2f2f2;
  font-family: 'Quicksand', sans-serif;

  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-container{
  // margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .mySlides {

        width: 100%;
        height: auto;
        // margin: 5%;
        text-align: center;
        display: flex;
        flex-direction:row;
        justify-content: center;


}
}

.imgcontainer {
  height: auto; 
  width: 100%;
  // margin: 5%;
  // box-shadow: 1px 1px 2px 3px rgb(14, 7, 7);
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



// p{
//   margin: 10px;
//   font-family: 'Quicksand', sans-serif;
//   color: white;
//   line-height: 1.5;
//   font-size: 25px;
//   text-align: center;

// }

h1{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 6rem;
  color: white;
  font-weight: bold;

}




